{% extends "base.html" %}
{% block content %}

<div class="min-vh-100 d-flex align-items-center justify-content-center bg-light">
  <div class="col-md-5 col-lg-4">

    <div class="card shadow-lg border-0">
      <div class="card-body p-4">

        <!-- Church Header -->
        <div class="text-center mb-4">
          <h4 class="fw-bold mb-1">Exalted Word Church</h4>
          <div class="text-muted small">
            Record Management System
          </div>
        </div>
        <div class="text-center mb-4">
            <img src="{% static 'image/church_logo.png' %}" height="80">
            <h4 class="mt-2">Exalted Word Church</h4>
        </div>
        {% if form.errors %}
          <div class="alert alert-danger">
            Invalid username or password.
          </div>
        {% endif %}

        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username"
                   class="form-control form-control-lg"
                   placeholder="Enter username"
                   autofocus required>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password"
                   class="form-control form-control-lg"
                   placeholder="Enter password"
                   required>
          </div>

          <button class="btn btn-primary btn-lg w-100">
            Login
          </button>
        </form>
        <div class="text-center mt-3">
           <a href="{% url 'password_reset' %}">Forgot password?</a>
         </div>

        <div class="text-center mt-4 small text-muted">
          © {{ now|date:"Y" }} Exalted Word Church
        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}
